:root {
  --gold900: rgba(197, 153, 80, 1);
  --gold700: rgba(210, 174, 114, 1);
  --gold500: rgba(219, 195, 147, 1);
  --gold300: rgba(232, 215, 189, 1);
  --gold100: rgba(243, 236, 218, 1);
  --gold800: rgba(196, 152, 79, 1);
  --gold900token20: rgba(197, 153, 80, 0.2);
  --gold900token60: rgba(197, 153, 80, 0.6);
  --gold900token40: rgba(197, 153, 80, 0.4);

  --darkGold900: rgba(204, 134, 34, 1);
  --darkGold700: rgba(215, 158, 79, 1);
  --darkGold500: rgba(224, 182, 123, 1);
  --darkGold300: rgba(234, 204, 163, 1);
  --darkGold100: rgba(246, 230, 212, 1);
  --darkGold900token20: rgba(204, 134, 34, 0.2);

  --accentGoldDark: rgba(72, 41, 18, 1);
  --accentGoldMid: rgba(254, 159, 86, 1);
  --accentGoldMidtoken20: rgba(254, 159, 86, 0.2);
  --accentGoldLow: rgba(255, 211, 153, 1);

  --indigoDark: rgba(12, 1, 56, 1);
  --indigoMedium: rgba(41, 23, 111, 1);
  --indigoNeutral: rgba(71, 43, 208, 1);
  --indigoLight: rgba(168, 177, 255, 1);
  --indigoHue: rgba(216, 219, 247, 1);

  --tealDark: rgba(12, 1, 56, 1);
  --tealMedium: rgba(1, 90, 102, 1);
  --tealNeutral: rgba(2, 152, 172, 1);
  --tealLight: rgba(181, 246, 255, 1);

  --redDark: rgba(77, 12, 28, 1);
  --redMedium: rgba(179, 29, 66, 1);
  --redNeutral: rgba(235, 56, 101, 1);
  --redLight: rgba(240, 167, 185, 1);
  --redDMediumtoken20: rgba(179, 29, 66, 0.2);

  --purpleDark: rgba(42, 0, 56, 1);
  --purpleMedium: rgba(96, 0, 128, 1);
  --purpleNeutral: rgba(130, 4, 172, 1);
  --purpleLight: rgba(245, 214, 255, 1);

  --eggShellNeutral: rgba(255, 253, 244, 1);
  --eggShellNeutraltoken20: rgba(255, 253, 244, 0.2);
  --eggShellNeutraltoken40: rgba(255, 253, 244, 0.4);

  --grey900: rgba(24, 23, 23, 1);
  --grey700: rgba(71, 71, 71, 1);
  --grey500: rgba(117, 117, 117, 1);
  --grey300: rgba(173, 173, 173, 1);
  --grey100: rgba(227, 227, 227, 1);
  --grey50: rgba(242, 242, 242, 1);
  --grey700token30: rgba(71, 71, 71, 0.3);
  --grey900token20: rgba(24, 23, 23, 0.2);
  --grey900token40: rgba(24, 23, 23, 0.4);
  --grey900token60: rgba(24, 23, 23, 0.6);
  --grey900token80: rgba(24, 23, 23, 0.8);
  --greyBar: rgba(217, 217, 217, 0.2);

  --surfaceSelected: rgba(197, 153, 80, 1);
  --surfaceSecondary: rgba(1, 51, 43, 0.2);
  --surfaceDisabled: rgba(71, 71, 71, 1);
  --surfaceTertiaryDark: rgba(24, 23, 23, 0.2);
  --surfaceTertiaryLight: rgba(255, 253, 244, 0.2);
  --surfaceTertiaryFilled: rgba(255, 253, 244, 1);

  --icon: rgba(255, 253, 244, 1);
  --iconSelected: rgba(255, 253, 244, 1);
  --iconFill: rgba(255, 253, 244, 0.2);
  --iconDisabled: rgba(117, 117, 117, 1);
  --iconFocus: rgba(24, 23, 23, 1);

  --textPrimary: rgba(255, 253, 244, 1);
  --textPrimarySelected: rgba(255, 253, 244, 1);
  --textPrimarDisabled: rgba(117, 117, 117, 1);
  --textPrimaryGold: rgba(197, 153, 80, 1);
  --textPrimaryFocus: rgba(24, 23, 23, 1);
  --textPrimaryBreadcrumbs: rgba(255, 255, 255, 1);

  --strokePopupContent: rgba(255, 255, 255, 0.1);
  --strokeHr: rgba(255, 255, 255, 0.09);
  --strokeSelected: rgba(197, 153, 80, 1);
  --strokeSeparator: rgba(255, 255, 255, 0.09);
  --strokeBorder: rgba(117, 117, 117, 1);
  --strokeTertiaryDark: rgba(24, 23, 23, 0.2);
  --strokeTertiaryLight: rgba(255, 253, 244, 0.2);
  --strokeGold: rgba(197, 153, 80, 0.6);

  --inputBackground: rgb(245, 235, 216);
  --inputBorder: rgb(214, 198, 168);
  --inputText: rgb(168, 154, 140);
  --textSecondary: rgba(255, 253, 244, 0.2);
  --textSecondarySelected: rgba(255, 253, 244, 0.2);
  --textSecondaryDisabled: rgba(117, 117, 117, 1);

  --bgDark: rgba(24, 23, 23, 1);
  --bgLight: rgba(255, 253, 244, 1);

  --cardBgDark: rgba(232, 215, 189, 1);
  --cardBgLight: rgba(137, 255, 229, 1);

  --overlayBlackDark: rgba(24, 23, 23, 0.6);
  --overlayBlackMedium: rgba(24, 23, 23, 0.4);
  --overlayBlackLight: rgba(24, 23, 23, 0.2);
  --overlayBlackExtraDark: rgba(24, 23, 23, 0.8);

  --warningText: rgba(204, 134, 34, 1);
  --warningIcon: rgba(204, 134, 34, 1);
  --warningSurface: rgba(204, 134, 34, 0.2);
  --warningStroke: rgba(204, 134, 34, 1);

  --errorText: rgba(179, 29, 66, 1);
  --errorIcon: rgba(179, 29, 66, 1);
  --errorSurface: rgba(179, 29, 66, 0.2);
  --errorStroke: rgba(179, 29, 66, 1);

  --raspberry: rgba(235, 56, 101, 1);
  --darktoken40: rgba(0, 0, 0, 0.4);
  --darktoken20: rgba(0, 0, 0, 0.2);

  --indicatorYear: rgba(208, 213, 221, 0.2);
  --trendSelectorBtn: rgba(51, 43, 28, 1);
  --haulMedium: rgba(219, 195, 147, 1);
  --haulLong: rgba(179, 29, 66, 1);

  --premium-gold: rgba(197, 153, 80, 1);
  --premium-black: rgb(18, 18, 18);
  --pure-black: rgb(0, 0, 0);
  --warm-beige: rgb(245, 235, 216);
  --premium-white: rgb(255, 255, 255);
}
