@import 'tailwindcss';
@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@import 'tw-animate-css';
@import './colors.css';

:root {
  --background: var(--premium-white); /* white */
  --foreground: var(--premium-black); /* black */
  --card: var(--premium-white);
  --card-foreground: var(--premium-black);
  --popover: var(--premium-white);
  --popover-foreground: var(--premium-black);

  --primary: var(--premium-gold); /* gold */
  --primary-foreground: var(--premium-black);

  --secondary: var(--gold100);
  --secondary-foreground: var(--premium-black);

  --muted: var(--gold100);
  --muted-foreground: var(--premium-black);

  --accent: var(--gold500);
  --accent-foreground: var(--premium-black);

  --destructive: var(--errorSurface);
  --destructive-foreground: var(--premium-black);

  --border: var(--strokeBorder);
  --input: var(--strokeBorder);
  --ring: var(--strokeGold);

  --chart-1: var(--gold900token60);
  --chart-2: var(--gold700);
  --chart-3: var(--gold500);
  --chart-4: var(--accentGoldMid);
  --chart-5: var(--accentGoldLow);

  --radius: 0.625rem;

  --sidebar: var(--gold900token20);
  --sidebar-foreground: var(--grey900);
  --sidebar-primary: var(--gold900);
  --sidebar-primary-foreground: var(--bgLight);
  --sidebar-accent: var(--gold300);
  --sidebar-accent-foreground: var(--grey900);
  --sidebar-border: var(--strokeGold);
  --sidebar-ring: var(--strokeGold);
}

.dark {
  --background: var(--premium-black); /* black */
  --foreground: var(--premium-white); /* white */

  --card: var(--premium-black);
  --card-foreground: var(--premium-white);

  --popover: var(--premium-black);
  --popover-foreground: var(--premium-white);

  --primary: var(--gold900);
  --primary-foreground: var(--premium-black);

  --secondary: var(--darkGold300);
  --secondary-foreground: var(--premium-black);

  --muted: var(--darkGold100);
  --muted-foreground: var(--premium-black);

  --accent: var(--gold700);
  --accent-foreground: var(--premium-black);

  --destructive: var(--errorSurface);
  --destructive-foreground: var(--errorText);

  --border: var(--strokeGold);
  --input: var(--inputBackground);
  --input-border: var(--inputBorder);
  --input-text: var(--inputText);
  --ring: var(--strokeGold);

  --chart-1: var(--gold900token60);
  --chart-2: var(--gold700);
  --chart-3: var(--accentGoldDark);
  --chart-4: var(--accentGoldMid);
  --chart-5: var(--accentGoldLow);

  --sidebar: var(--grey900token60);
  --sidebar-foreground: var(--textPrimary);
  --sidebar-primary: var(--gold900);
  --sidebar-primary-foreground: var(--bgDark);
  --sidebar-accent: var(--gold500);
  --sidebar-accent-foreground: var(--textPrimary);
  --sidebar-border: var(--strokeGold);
  --sidebar-ring: var(--strokeGold);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
